In [73]:
import pandas
import numpy

In [74]:
df3 = pandas.read_csv(r"C:/Users/ASUS/Desktop/AI Training Data/realestate.csv")
df3.head()

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
2  100003000.0     NaN  LEXINGTON            N          NaN        1   850
3  100004000.0   201.0   BERKELEY           12            1      NaN   700
4          NaN   203.0   BERKELEY            Y            3        2  1600

In [75]:
print(' [ST_NUM]')
print(df3['ST_NUM'])
print('\n')

 [ST_NUM]
0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: ST_NUM, dtype: float64

In [76]:
print('Detecting standard missing values')
print(df3['ST_NUM'].isnull())
print("\n")

Detecting standard missing values
0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool

In [77]:
print(' SQ_FT')
print(df3['SQ_FT'])
print("Detecting standard missing values")
print(df3['SQ_FT'].isnull())     #not detecting '--' as null.
print("\n")

 SQ_FT
0    1000
1      --
2     850
3     700
4    1600
5     800
6     950
7     NaN
8    1800
Name: SQ_FT, dtype: object
Detecting standard missing values
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
Name: SQ_FT, dtype: bool

In [78]:
missing_values=["--","__","na"]
df3 = pandas.read_csv(r"C:/Users/ASUS/Desktop/AI Training Data/realestate.csv", na_values = missing_values)
print(df3['SQ_FT'].isnull())
print("\n")

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7     True
8    False
Name: SQ_FT, dtype: bool

In [79]:
print(df3['OWN_OCCUPIED'])

0      Y
1      N
2      N
3     12
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: OWN_OCCUPIED, dtype: object

In [80]:
print(df3['OWN_OCCUPIED'].isnull())
print("\n")

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: OWN_OCCUPIED, dtype: bool

In [81]:
cnt=0
for row in df3['OWN_OCCUPIED']:
    try:
        int(row)
        df3.loc[cnt, 'OWN_OCCUPIED']=numpy.nan
    except ValueError:
        pass
    cnt+=1
print("Total no. of entries = ", cnt)
print("\n")
print(df3['OWN_OCCUPIED'])

Total no. of entries =  9


0      Y
1      N
2      N
3    NaN
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: OWN_OCCUPIED, dtype: object

In [82]:
print("Total miss of OWN_OCCUPIED feature", '\n')
print("Out:", df3['OWN_OCCUPIED'].isnull().sum())
print("\n")

Total miss of OWN_OCCUPIED feature

Out: 2

In [83]:
print("Total missing feature wise seperated", "\n")
print("Out:")
print(df3.isnull().sum())
print("\n")

Total missing feature wise seperated

Out:
PID             1
ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    2
NUM_BEDROOMS    3
NUM_BATH        1
SQ_FT           2
dtype: int64

In [84]:
print("Missing values in data if any: ")
print("Out: ",df3.isnull().values.any())
print("\n")

Missing values in data if any:
Out:  True

In [85]:
print("Total number of missing values", "\n")
print("Out:", df3.isnull().sum().sum())

Total number of missing values

Out: 11

In [86]:
print("Replace missing values in ST_NUM")
df3['ST_NUM'].fillna(125, inplace = True)
print(df3['ST_NUM'])

Replace missing values in ST_NUM
0    104.0
1    197.0
2    125.0
3    201.0
4    203.0
5    207.0
6    125.0
7    213.0
8    215.0
Name: ST_NUM, dtype: float64

In [87]:
df3.loc[2, 'ST_NUM'] = 129

In [88]:
cnt = 0
sum = 0
for row in df3 ['NUM_BEDROOMS']:
    try:
        int(row)
        sum +=int(row)
        cnt+=1
    except ValueError:
        pass
    
print("Total no. of apartments =", cnt, "\n")
print("Sum of no. of Bedrooms including all apartments = ", sum)
print("\n")
mean = sum//cnt
print("Average no. of Bedrooms = ",mean)

Total no. of apartments = 6

Sum of no. of Bedrooms including all apartments =  13


Average no. of Bedrooms =  2

In [89]:
df3['NUM_BEDROOMS'].fillna(mean, inplace=True)
print(df3['NUM_BEDROOMS'])

0    3.0
1    3.0
2    2.0
3    1.0
4    3.0
5    2.0
6    2.0
7    1.0
8    2.0
Name: NUM_BEDROOMS, dtype: float64

In [90]:
median = df3['NUM_BEDROOMS'].median()
df3['NUM_BEDROOMS'].fillna(median, inplace=True)
print(df3['NUM_BEDROOMS'])

0    3.0
1    3.0
2    2.0
3    1.0
4    3.0
5    2.0
6    2.0
7    1.0
8    2.0
Name: NUM_BEDROOMS, dtype: float64

In [91]:
print(df3['NUM_BATH'])

0         1
1       1.5
2         1
3       NaN
4         2
5         1
6    HURLEY
7         1
8         2
Name: NUM_BATH, dtype: object

In [92]:
cnt=0
for row in df3['NUM_BATH']:
    try:
        float(row)
    except ValueError:
        df3.loc[cnt,'NUM_BATH']=numpy.nan
    pass
    cnt+=1

In [93]:
df3['NUM_BATH'].fillna(mean, inplace=True)
print(df3['NUM_BATH'])

0      1
1    1.5
2      1
3      2
4      2
5      1
6      2
7      1
8      2
Name: NUM_BATH, dtype: object