In [1]:
#Navie Bayes

In [2]:
#Python libraries offer three kinds of Naive Bayes classifiers:
#Gaussian:It assumes that features follow a normal distribution
#Multinomial: It is used for discrete counts

#import dataset and libraries
from sklearn import datasets
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
#Importing necessary packages
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [4]:
#Download iris dataset,
#DataFrame is a primary pandas data strcuture

iris = datasets.load_iris()
class_names = iris.target_names
iris_df = pd.DataFrame(iris.data, columns = iris.feature_names)
iris_df['target'] = iris.target
#Labels are numerically coded to be targets here to distinguish all the classes in the dataset

In [5]:
#Looking at part of the dataset
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [6]:
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [60]:
#Building the classifier
#Splitting the data

X_train, X_test, y_train, y_test =  train_test_split(iris_df[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']], iris_df['target'], random_state = 0)
#Random state = 1, will give you random values for different runtimes. To remove randomness, we will write random state =0

In [61]:
#Selecting the Gaussian naive bayes
NB= GaussianNB()

In [62]:
#training the classifier with input data and target outputs
NB.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [63]:
#Predicting with the classifier

y_predict = NB.predict(X_test.values[2:3, :])

if y_predict == 0:
    print("The flower is Setosa")
elif y_predict == 1:
    print("The flower is a Versicolor")
elif y_predict == 2:
    print("The flower is Virginia")

The flower is Setosa

In [64]:
X_train.count()

sepal length (cm)    112
sepal width (cm)     112
petal length (cm)    112
petal width (cm)     112
dtype: int64

In [65]:
y_train.count()

112

In [66]:
y_predict

array([0])

In [67]:
X_test.values[1, :]

array([6. , 2.2, 4. , 1. ])