In [18]:
from sklearn.preprocessing import StandardScaler
import pandas
import numpy

In [19]:
names = ['plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
datapath = "C:/Users/ASUS/Desktop/AI Training Data/Diabetes1.csv"
dataframe = pandas.read_csv(datapath, names=names)
array = dataframe.values

In [20]:
X = array[:,0:7]
Y = array[:,7]
scaler = StandardScaler().fit(X)
StandardizedX = scaler.transform(X)

In [21]:
#Mean =0 , Variance = 1 (Hence the negative values)
numpy.set_printoptions(precision=3)
print('Standardized Data\n')
print(StandardizedX[0:5,:])

Standardized Data

[[ 0.848  0.15   0.907 -0.693  0.204  0.468  1.426]
 [-1.123 -0.161  0.531 -0.693 -0.684 -0.365 -0.191]
 [ 1.944 -0.264 -1.288 -0.693 -1.103  0.604 -0.106]
 [-0.998 -0.161  0.155  0.123 -0.494 -0.921 -1.042]
 [ 0.504 -1.505  0.907  0.766  1.41   5.485 -0.02 ]]

In [22]:
dataframe.head()

   plas  pres  skin  test  mass   pedi  age  class
0   148    72    35     0  33.6  0.627   50      1
1    85    66    29     0  26.6  0.351   31      0
2   183    64     0     0  23.3  0.672   32      1
3    89    66    23    94  28.1  0.167   21      0
4   137    40    35   168  43.1  2.288   33      1