In [143]:
%matplotlib inline
import numpy as np
import pandas as pd
import statistics as stats
import matplotlib as plt
import math
from statistics import mean, median, mode, stdev, harmonic_mean

In [144]:
#Univariate Descriptive Statistics
#Let us build a data set
df = pd.DataFrame([{'name': 'Arun', 'salary': 30000}, 
                   {'name': 'John', 'salary': 25000},
                   {'name': 'Akhil', 'salary': 55000}, 
                   {'name': 'Suma', 'salary': 35000},
                    {'name': 'Jini', 'salary': 25000},
                    {'name': 'Rema', 'salary': 45000},
                    {'name': 'xyz', 'salary':100000}])
df

    name  salary
0   Arun   30000
1   John   25000
2  Akhil   55000
3   Suma   35000
4   Jini   25000
5   Rema   45000
6    xyz  100000

In [145]:
#pandas calculate mean directly
mean1 = df['salary'].mean()
print("%.2f" %mean1)

45000.00

In [146]:
mean_salary = float(df['salary'].mean()) #.astype(int)
"{:,.2f}".format(mean_salary)

'45,000.00'

In [147]:
mean2 = stats.mean(df['salary'])
print("%.2f" %mean2)

45000.00

In [148]:
mean3 = np.mean(df['salary'])
print("%.2f" %mean3)

45000.00

In [149]:
#Weighted Mean

x = [8.0, 1, 2.5, 4, 28.0]
w = [0.1, 0.2, 0.3, 0.25, 0.15]
wmean = sum(w[i] * x[i] for i in range (len(x))) / sum(w)
wmean

6.95

In [150]:
y , z, w = np.array(x), pd.Series(x), np.array(w)
wmean = np.average(y, weights = w)
wmean

6.95

In [151]:
wmean = np.average(z, weights =w)
wmean

6.95

In [152]:
#Zipping x and w
#Clean and elegeant method without importing any libraries
wmean = sum(x_ * w_ for (x_, w_) in zip(x,w)) / sum(w)
wmean

6.95

In [153]:
"""Geometric Mean
The geometric mean is the n-th root of the product of all n elemnts xi in a dataset where i=1, 2, 3, ....., n."""
gmean = 1
for item in x:
    gmean *=item

gmean **=1 / len(x)
gmean

4.677885674856041

In [154]:
from scipy import stats 
gmean = stats.gmean(x)
print(gmean)

4.67788567485604

In [155]:
"""Harmonic Mean
The harmonic mean is the reciprocal of the mean of the reciprocals of all the items in the dataset: (n/sigma(1/xi)) where i = 1, 2, 3, ....., n is the number of items in the dataset x. One variant of pure python implementation is this."""

hmean = len(x) / sum(1/ item for item in x)
hmean

2.7613412228796843

In [156]:
hmean = stats.hmean(x)
hmean

2.7613412228796843

In [157]:
x_with_nan = [8.0, 1, 2.5, math.nan, 4, 28.0]
harmonic_mean(x_with_nan)

nan

In [158]:
stats.hmean(y)

2.7613412228796843

In [159]:
#Better way to get sense of average
#The median is like an improved mean
#Order the numbers larget to smallest and pick the middle number
df['salary'].sort_values()

1     25000
4     25000
0     30000
3     35000
5     45000
2     55000
6    100000
Name: salary, dtype: int64

In [160]:
df['salary'].median()

35000.0

In [161]:
median1 = median(df['salary'])
print(median1)
type(median)

35000

function

In [162]:
median1 = np.median(df['salary'])
print(median1)

35000.0

In [163]:
#Reviewing a restaurent. Building a dataset
reviews_df = pd.DataFrame([ 
    { 'restaurent': 'Burger King', 'reviewer': 'Arun', 'yelp_stars': 2},
    { 'restaurent': 'Burger King', 'reviewer': 'John', 'yelp_stars': 2},
    { 'restaurent': 'Burger King', 'reviewer': 'Akhil', 'yelp_stars': 5},
    { 'restaurent': 'Burger King', 'reviewer': 'Suma', 'yelp_stars': 4},
    { 'restaurent': 'Burger King', 'reviewer': 'Jini', 'yelp_stars': 4},
    { 'restaurent': 'Burger King', 'reviewer': 'Rema', 'yelp_stars': 3},
    { 'restaurent': 'Burger King', 'reviewer': 'xyz', 'yelp_stars': 2}
])
reviews_df

    restaurent reviewer  yelp_stars
0  Burger King     Arun           2
1  Burger King     John           2
2  Burger King    Akhil           5
3  Burger King     Suma           4
4  Burger King     Jini           4
5  Burger King     Rema           3
6  Burger King      xyz           2

In [164]:
reviews_df.median()

yelp_stars    3.0
dtype: float64

In [165]:
median([2,2,5,4,4,3])

3.5

In [166]:
median(reviews_df['yelp_stars'][0:6])

3.5

In [167]:
"""The Mode
The mode is the least used measurement of central tendancy.
It is the most frequent value or value of highest probability of occurence.
"""
review_df['yelp_stars'].mode()

0    2
dtype: int64